aries-cloudagent[indy]@git+https://github.com/hyperledger/aries-cloudagent-python@0.5.3
acapy-plugin-toolbox@git+https://github.com/hyperledger/aries-acapy-plugin-toolbox.git@acapy053
marshmallow==3.0.0